article.lifeEvent {
    min-height: 70px;
    position: relative;
    margin: 10px 0;
    &:first-of-type {
        margin-top: 50px;
     }
    > header {
        min-height: 60px;
        line-height: 30px;
        padding-top: 15px;
        padding-left: 84px;
        position: relative;
        > span.icon {
              border-radius: 50%;
              color: #fff;
              border: 5px solid #fff;
              background-color: #7F3D63;
              content: '';
              height: 60px;
              left: 0;
              position: absolute;
              font-size: 24px;
              top: 0;
              width: 60px;
              display: flex;
              align-items: center;
              justify-content: center;
              animation: jumpInLikeTennisBall 2s;
              animation-fill-mode: backwards;
              animation-delay: 1.5s;
        }
        > span.date {
              background-color: #7F3D63;
              color: #fff;
              font-size: 14px;
              font-weight: 400;
              text-transform: capitalize;
              margin-right: 10px;
              padding: 5px 10px;
          }
        > h2 {
            display: inline;
            font-size: 24px;
            font-weight: 300;
            margin: 0;
            vertical-align: middle;
        }
        &:after {
             content: '';
             height: 3px;
             background-color: #ddd;
             position: absolute;
             left: 61px;
             top: 30px;
             width: 10px;
         }
    }
}

@keyframes jumpInLikeTennisBall {
    0% {
        transform: translateY(-250px) translateX(-100px);
        animation-timing-function: ease-in;
    }
    40% {
        transform: translateY(-35px);
        animation-timing-function: ease-in;
    }
    65% {
        transform: translateY(-20px);
        animation-timing-function: ease-in;
    }
    82% {
        transform: translateY(-9px);
        animation-timing-function: ease-in;
    }
    92% {
        transform: translateY(-4px);
        animation-timing-function: ease-in;
    }
    25%, 55%, 75%, 87%, 97%, 100% {
        transform: translateY(0);
        animation-timing-function: ease-out;
    }
}