.btn {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    padding: 15px 25px;
    background-color: #3D7F59;
    color: white;
    text-decoration: none;
    font-weight: 300;
    letter-spacing: 2px;
    transition: all .3s ease-out;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.btn:hover {
    color: white;
    background-color: #7F3D63;
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}