.contactInfo {
    font-size: 1.3em;
    color: #fff;
    margin-bottom: 60px;
}

a.messageMe {
    color: #fff;
    font-size: 2em;
    font-weight: 500;
    text-decoration: none;
    display: inline-block;
    padding: 15px 25px;
    letter-spacing: 2px;
    background: rgba(67, 95, 90, .5);
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

    &:hover {
        color: #fff;
        background-color: #7F3D63;
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
        transform: scale(1.1);
     }

     &:focus {
        color: #fff;
      }
}

.socialIcon {
    color: #fff;
    font-size: 2em;
    margin: 10px 20px;

    &:hover {
        color: #7F3D63;
     }
}