article.lifePeriod {
    display: flex;
    flex-direction: column;
    margin: 20px 0 0 85px;
    @media(min-width: 767px) {
        flex-direction: row;
    }
    div.mainContent {
        flex: 1;
        flex-direction: column;
        header {
            position: relative;
            width: 100%;
            margin-right: 2.04082%;
            min-height: 30%;
            &:before {
                 background-color: #CB2F28;
                 border-radius: 50%;
                 border: 5px solid #fff;
                 content: '';
                 height: 15px;
                 top: 0;
                 left: -67px;
                 position: absolute;
                 width: 15px;
                 box-sizing: content-box;
            }
            @media(max-width: 767px) {
                width: 100%;
                margin-left: 0;
                margin-right: 0;
            }
            span.date {
                background-color: #CB2F28;
                color: #fff;
                font-size: 14px;
                font-weight: 400;
                text-transform: capitalize;
                margin-right: 10px;
                padding: 5px 10px;
            }
            h2 {
                color: #CB2F28;
                display: inline;
                font-size: 18px;
                line-height: 28px;
                margin: 2px 0 0;
                text-transform: uppercase;
            }
            &:after {
                 content: '';
                 height: 3px;
                 background-color: #ddd;
                 position: absolute;
                 left: -42px;
                 top: 12px;
                 width: 30px;
            }
        }
    }
    div.tags {
        flex: 1;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: flex-start;
        align-content: flex-start;
        flex-wrap: wrap;
        line-height: 30px;
        @media(max-width: 767px) {
          justify-content: flex-start;
        }
        span {
            background-color: #CB2F28;
            color: #fff;
            display: inline-block;
            padding: 0 5px;
            margin: 0 10px 10px 0;
        }
    }
}